#memberClassContent {   
  margin: 2em auto;
  width: 100%;
}

#memberClassRadio {
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	border: 1px solid;
}


input.radio {
	padding: 0 10px 0 0;
	position: relative;
	top: -2px;
}


#left, #right {
  display: inline-block;
  width: 40%; 
  margin:5px; 
  padding: 1em;
  background: white;
}
